<!-- <app-navbar></app-navbar> -->

<div class="page home">

  <div class="container">
    <div class="row categories">
      <div
        ng-repeat="item in vm.categoryImages track by $index"
        class="col-sm-4">
        <a ng-href="{{ item.linkUrl }}" class="portfolio-box">
          <img
            ng-src="{{ item.imgUrl }}"
            alt="{{ item.name }}" title="{{ item.name }}">
        </a>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <p>Located in heart of Chinatown Washington DC, we combine the best of Chinese, Japanese cultures and soul. Market-fresh, high-end organic ingredients inspiring our guests with delicious dishes, great selection from our authentic Chinese culinary, extensive sushi bar menu, variety of cold or warm Sake, and our cozy Karaoke with private rooms to add some fun to the night.</p>

  </div>

</div><!-- /.page -->
