<app-navbar></app-navbar>

<header id="header-online-order">
  <div class="container header-content">
    <div class="header-content-inner">
      <h1>Online Order</h1>
      <hr class="light">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nobis atque, earum in enim labore, non voluptatem nesciunt eligendi molestiae deleniti, accusantium beatae et animi impedit harum numquam aliquam itaque!
      <p>
        <a href="http://washington.eat24hours.com/wok-and-roll-restaurant/7260?W=1" class="btn btn-primary">Order Now!</a>
      </p>
    </div>
  </div>
</header>

<div class="page-wrapper">

  <div class="container">

  </div>

</div>
