<app-navbar></app-navbar>

<div class="page restaurant">

  <header id="header-restaurant" ng-style="vm.bgCss">
    <div class="container header-content">
      <div class="header-content-inner">
        <h1>Restaurant</h1>
      </div>
    </div>
  </header>

  <div class="container">

    <div class="row">

      <div class="col-md-4 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-glass"></i>
          <h3>Happy Hour</h3>
          <p>Happy Hour from Monday to Friday 5PM to 8PM.</p>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-wifi" data-wow-delay=".1s"></i>
          <h3>Free Wi-Fi</h3>
          <p>Free Wi-Fi for all business meeting and social networking's need.</p>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-users" data-wow-delay=".1s"></i>
          <h3>Events</h3>
          <p>Your event detail is our priority and will be handled professionally.</p>
        </div>
      </div>
    </div>
  </div><!-- /.container -->

</div>
