<app-navbar></app-navbar>

<header id="header-restaurant">
  <div class="container header-content">
    <div class="header-content-inner">
      <h1>Restaurant</h1>
      <hr class="light">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nobis atque, earum in enim labore, non voluptatem nesciunt eligendi molestiae deleniti, accusantium beatae et animi impedit harum numquam aliquam itaque!
      <p>
        <a href="http://www.wokandrolldc.com/file/wok_and_roll_full_menu.pdf" class="btn btn-primary btn-xl">See Restaurant Menu</a>
      </p>
    </div>
  </div>
</header>

<div class="page-wrapper">

  <div class="container">
    <h2 class="section-heading">RESTAURANT</h2>
    <hr class="light">
    <p class="text-faded">Located in heart of Chinatown Washington DC, we combine the best of Chinese, Japanese cultures and soul. Market-fresh, high-end organic ingredients inspiring our guests with delicious dishes, great selection from our authentic Chinese culinary, extensive sushi bar menu, variety of cold or warm Sake, and our cozy Karaoke with private rooms to add some fun to the night.</p>
  </div>

  <div class="container">
    <h2>Free Delivery</h2>
    <p><a href="http://washington.eat24hours.com/wok-and-roll-restaurant/7260?W=1" class="btn btn-primary">Order Online</a></p>
    <p>Our delivery service is <strong>FREE</strong> when you order online, Check our monthly special promotion for great deal or discount.</p>
    <p class="small">The online ordering system is running and is available for pick-up or for delivery (2 miles radius with $15 , additional fee may be apply such like DC sale tax and gratuity).</p>
  </div>

  <div class="container">
    <h2 class="section-heading">At Your Service</h2>

    <div class="row">

      <div class="col-md-4 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-glass"></i>
          <h3>Happy Hour</h3>
          <p>Happy Hour from Monday to Friday 5PM to 8PM.</p>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-wifi" data-wow-delay=".1s"></i>
          <h3>Free Wi-Fi</h3>
          <p>Free Wi-Fi for all business meeting and social networking's need.</p>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-users" data-wow-delay=".1s"></i>
          <h3>Events</h3>
          <p>Your event detail is our priority and will be handled professionally.</p>
        </div>
      </div>
    </div>
  </div><!-- /.container -->

</div>
