<div class="home">

  <header style="background-image: url('http://lorempixel.com/640/480/abstract/')"></header>
  <!-- <header style="background-image: url('img/woknroll_animation.gif')"></header> -->

  <hr>

  <div class="container content">

    <p>Located in heart of Chinatown Washington DC, we combine the best of Chinese, Japanese cultures and soul. Market-fresh, high-end organic ingredients inspiring our guests with delicious dishes, great selection from our authentic Chinese culinary, extensive sushi bar menu, variety of cold or warm Sake, and our cozy Karaoke with private rooms to add some fun to the night.</p>

  </div>
</div><!-- /.page -->
