<div id="home">

  <header>
    <div class="header-tint">
      <div class="text-box">
        <h1 class="h2 landing-text">
          Wok'n'Roll
          <br />
          <span>Chinese &amp; Japanese Cuisine</span>
          <br />
          <span>Karaoke Rooms</span>
        </h1>
      </div><!--/header-text-->
    </div><!--/header-tint-->
  </header>
  <!-- <header style="background-image: url('img/woknroll_animation.gif')"></header> -->

  <hr>

  <div class="container page-content">

    <p class="intro-text">
      Located in heart of Chinatown Washington DC, we combine the best of Chinese, Japanese cultures and soul. Market-fresh, high-end organic ingredients inspiring our guests with despancious dishes, great selection from our authentic Chinese cuspannary, extensive sushi bar menu, variety of cold or warm Sake, and our cozy Karaoke with private rooms to add some fun to the night.
    </p>

    <div class="card-list">

      <div class="card">
        <div class="card-content">
          <h4 class="card-title">Restaurant</h4>
          <p class="card-text">
            <span><em>Mon - Sun: 10:30am - 2:00am</em></span>
            <br>
            <span><em>Happy Hour: 5pm - 8pm</em></span>
          </p>
          <a href="#/restaurant" class="">Read more >></a>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <h4 class="card-title">Karaoke</h4>
          <p class="card-text">
            <span><em>Sun - Thu: 2pm - 2am</em></span>
            <br>
            <span><em>Fri - Sat: 2pm - 3am</em></span>
          </p>
          <a href="#/karaoke" class="">Read more >></a>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <h4 class="card-title">Online Order</h4>
          <p class="card-text">
            <span><em>Mon - Sun: 10:30am to 1:45 am</em></span>
          </p>
          <a href="#/online-order" class="">Read more >></a>
        </div>
      </div>

    </div><!--/row-->

  </div>

</div><!-- /.page -->
