<!-- <app-navbar></app-navbar> -->

<div class="page online-order">

  <div class="container content">

    <header  style="background-image: url('img/phone_call.gif')" ></header>

    <h2>Free Delivery</h2>

    <p>
      <a href="http://washington.eat24hours.com/wok-and-roll-restaurant/7260?W=1" class="btn btn-primary">
        Order now!
      </a>
    </p>

    <p>
      Our delivery service is <strong>FREE</strong> when you order online,
      Check our monthly special promotion for great deal or discount.
    </p>
    <p class="small">
      The online ordering system is running and is available for pick-up or for delivery (2 miles radius with $15 , additional fee may be apply such like DC sale tax and gratuity).
    </p>

  </div><!-- /.container -->
</div>
