<div id="app-navbar">
  <div class="container">
    <hgroup>
      <!-- Hamburger button -->
      <button type="button"
        class="hamburger"
        ng-click="$ctrl.toggleMenu()"
        ng-if="$ctrl.isMobile">
        &#9776;
      </button>

      <a ng-href="{{ $ctrl.pages[ 0 ].path }}">
        <h1 id="logo">Wok</h1>
      </a>
    </hgroup>

    <nav ng-show="$ctrl.isVisibleMenu" id="app-navbar--nav">
      <ul>
        <li ng-repeat="page in $ctrl.pages track by $index" >

          <a
            ng-href="{{ page.path }}"
            ng-class="{ active: page.title === $ctrl.activeTab }" >
            {{ page.title }}
          </a>

        </li>
      </ul>
    </nav>
  </div><!-- container -->
</div>
