<footer id="footer">
  <div class="container">

    <div class="pull-left">
      <p>
        <a href="http://www.wokandrolldc.com/">Wok ChinaTown</a> |
        <a class="text-link" href="https://www.google.com/maps?f=q&source=embed&hl=en&geocode&q=604+H+st.+NW++Washington+DC+20001&aq&sll=38.920582,-77.042036&sspn=0.012621,0.027874&ie=UTF8&hq&hnear=604+H+St+NW,+Washington+D.C.,+District+of+Columbia,+20001&ll=38.899725,-77.020233&spn=0.004175,0.008572&z=17&iwloc=A">
          <i class="fa fa-map-marker"></i>
          604 H Street. NW, Washington DC 20001
        </a>
        <br />
        Karaoke: <a class="text-link" href="tel:2024504702">(202) 450-4702</a>
        Restaurant:<a class="text-link" href="tel:2023474656">(202) 347-4656</a>
      </p>
    </div>
    <ul class="social_links pull-right">
      <li>
        <a href="https://www.facebook.com/wokandrolldc/" title="connect with us on Facebook">
          <i class="fa fa-facebook-square fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/WokNRollDC" title="connect with us on Twitter">
          <i class="fa fa-twitter-square fa-3x"></i>
        </a>
      </li>
    </ul>

  </div>
</footer>
