/**
 * This is the entry point of custom styles.
 */

@import "./custom-variables";
@import "./custom-site-header";
@import "./custom-site-footer";
@import "./custom-card-list";


/* This is to display borders */
// * { border: 1px dotted red }


/**
 * Reset CSS.
 */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}


/**
 * App-wide common styles.
 */

html, body {
  position: relative;
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Cardo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}


/**
 * Typography
 */

// Reset some propertyies so that we can adjust spacing easily.
h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
  // line-height: 1;
}
a {
  color: base-link-color;
  transition: all 0.5s;
}
a:hover,
a:focus {
  color: $base-link-color-hover;
  text-decoration: none;
}
p {
  color: $base-text-color;
  font-size: 18px;
  line-height: 1.5;
}
p.lead {
  font-family: "Sanchez", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sanchez", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
h1 { color: rgba(255,255,255, 1) }
h2 { color: rgba(255,255,255, .9) }
h3 { color: rgba(255,255,255, .8) }
h4 { color: rgba(255,255,255, .8) }
p  { color: rgba(255,255,255, .8) }
#main-wrapper h1 { color: rgba(0,0,0, 1) }
#main-wrapper h2 { color: rgba(0,0,0, .9) }
#main-wrapper h3 { color: rgba(0,0,0, .8) }
#main-wrapper h4 { color: rgba(0,0,0, .8) }
#main-wrapper p  { color: rgba(0,0,0, .8) }

hr {
  margin: 0;
  border: 0;
  height: 5px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
h1, .h1 {
  font-size: 2.6em;
}
h2, .h2 {
  font-size: 2.2em;
}
h3, .h3 {
  font-size: 2.0em;
}
h4, .h4 {
  font-size: 1.5em;
}


/**
 * My bootstrap
 */

.container {
 margin-right: auto;
 margin-left: auto;
 width: 95%;
}
@media (min-width: 768px) {
 .container {
   width: 90%;
 }
}
@media (min-width: 992px) {
 .container {
   width: 80%;
 }
}
@media (min-width: 1200px) {
 .container {
   width: 70%;
 }
}

.custom-button{
  display: inline-block;
  background: white;
  color: #333;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  padding: .5rem;
  outline: none;
  margin: 5px 0;
}
.custom-button:hover{
  background: #ddd;
  color: $base-link-color-hover;
}
.small {
  font-size: 14px;
}
.clearfix {
  clear: both;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}


/**
 * Pages
 */

header {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  min-height: 300px;
  max-width: 100%;
  background-color: #222222;
  background: no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
  padding: 100px 0;
}
.online-order header {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}
@media (min-width: 768px) {
  header {
    height: 300px;
    padding: 0;
    // background-attachment: fixed;
  }
}

#main-wrapper {
  padding-bottom: 40px;
  min-height: 500px;
}

#home header {
  height: 400px;
  background-image: url('../../img/woknroll_animation.gif');
}
@media (min-width: 768px) {
  #home header {
    background-image: url('../../img/woknroll_1200x400.jpg');
  }
}
#home .text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 8%;
  max-height: 300px;
  overflow-y: auto;
}
#home .text-box .landing-text {
  font-weight: bold;
  color: white;
  padding-bottom: 20px;
}
#home .text-box .landing-text > span {
  font-size: 0.8em;
  font-family: "Cardo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
}
#home .header-tint {
  position:absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
}
#home .intro-text {
  margin: 40px 0;
  font-size: 1.2em;
}

.page-content {
  min-height: 300px;
}
.page-heading {
  padding: 20px 0;
}
#home .page-content {
  margin-top: 40px;
  margin-bottom: 40px;
}
#home .hours-card p {
  display: block;
  margin-bottom: 20px;
}

#restaurant .service-boxes {
  margin-top: 40px;
  margin-bottom: 40px;
}
#restaurant .menu {
  margin-top: 40px;
}
#restaurant .custom-carousel {
  list-style-type: none;
  // margin-left: -2em;
}

#karaoke .intro-text,
#karaoke .room-charge {
  margin-bottom: 40px;
}

#online-order header {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  #online-order header {
    width: 50%;
  }
}
#online-order .intro-text {
  margin-top: 40px;
  margin-bottom: 40px;
}


@media only screen and (min-width : 544px) {
}
@media only screen and (min-width : 768px) {
}
@media only screen and (min-width : 992px) {
}
@media only screen and (min-width : 1200px) {
}
